.blog {
  padding-top: 150px;
  max-width: 980px;
  // background-color: aqua;
  min-height: 100px;
  margin: 0 auto;
  .blog-header {
    font-size: 30px;
    font-family: $NovaC;
    letter-spacing: 5px;
    border-bottom: 2px solid $black;
    width: 106px;
    margin-bottom: 32px;
  }
  .post {
    width: 100%;
    min-height: 50px;
    // background-color: red;
    display: flex;
    margin-bottom: 75px;
    font-family: $GS;
    .left {
      width: 60px;
      // background-color: cadetblue;
      margin-right: 20px;
      .date-box {
        background-color: $blue;
        color: $white;
        text-align: center;
        padding-top: 5px;
        height: 60px;
        width: 60px;
        font-family: $GS-Light;
        span {
          font-family: $GS-Bold;
          font-size: 22px;
        }
      }
    }
    .right {
      width: 900px;
      // background-color: brown;
      .post-img {
        width: 100%;
        height: 259px;
        background-image: url(../images/blog.jpg);
        @include image-format;
        margin-bottom: 20px;
      }
      p {
        font-size: 15px;
      }
      .p-blue {
        color: $blue;
        font-size: 13px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .blog {
    margin: 0 auto;
    width: 93%;
  }
}
