.contact {
  width: 980px;
  // background-color: aqua;
  min-height: 200px;
  margin: 0 auto;
  padding-top: 150px;
  .contact-header {
    font-size: 30px;
    font-family: $NovaC;
    border-bottom: 2px solid $black;
    width: 159px;
    letter-spacing: 3px;
    margin-bottom: 50px;
  }
  .contact-holder {
    // background-color: red;
    width: 100%;
    min-height: 650px;
    display: flex;
    font-family: $GS;
    margin-bottom: 50px;
    .map-holder {
      // background-color: blue;
      width: 40%;
      max-height: 100%;
      margin-right: 50px;
      font-size: 18px;
      iframe {
        height: 442px;
        width: 100%;
      }
      p {
        margin-top: 34px;
      }
    }
    .form-holder {
      // background-color: aquamarine;
      width: 55%;
      height: 650px;

      font-size: 16px;
      input {
        display: block;
        width: 100%;
        height: 60px;
        border: none;
        background-color: #f5f5f5;
        margin-bottom: 21px;
        padding-left: 21px;
        font-size: 16px;
      }
      textarea {
        width: 100%;
        height: 200px;
        border: none;
        background-color: #f5f5f5;
        font-family: $GS;
        font-size: 16px;
        padding: 21px;
        resize: none;
      }
      .contact-submit {
        margin-top: 20px;
        background-color: $blue;
        height: 60px;
        width: 167px;
        padding-top: 20px;
        padding-left: 27px;
        cursor: pointer;
        color: $white;
      }
    }
  }
}

@media (max-width: 1024px) {
  .contact {
    margin: 0 auto;
    width: 93%;
  }
}

@media (max-width: 650px) {
  .contact {
    .map-holder {
      p {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 525px) {
  .contact {
    .map-holder {
      p {
        font-size: 12px;
      }
    }
  }
}
